.rafflePageWrapper {
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    background-color: #f0f0f0;
    background-image: "/assets/raffle/raffle_bg.png";
    font-family: NikkyouSans;
    overflow-y: scroll;
  }