.carouselContainer {
    position: relative;
    width: 100%;
    height: 300px;
    overflow: hidden;
  }
  
  .carouselTrack {
    display: flex;
    gap: 5rem;
    animation: scroll 120s linear infinite;
    height: 100%;
  }
  
  .carouselSlide {
    min-width: 200px;
    width: 100%;
    height: auto;
    position: relative;
  }

  .carouselSlide img {
    object-fit: contain;
  }

  .carouselContainer:hover .carouselTrack {
    animation-play-state: paused;
  }
  
  @keyframes scroll {
    0% {
      transform: translateX(0);
    }
    100% {
      transform: translateX(-100%);
    }
  }