.container {
    display: flex;
    flex-direction: column;
    gap: 3rem;
    padding: 4rem;
  }
  
  .title {
    color: var(--black);
  }
  .eventContainer {
    display: flex;
    gap: 2rem;
  }

  @media screen and (max-width: 768px) {
    .eventContainer {
      flex-direction: column;
    }
  }