.container {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  align-items: center;
  justify-items: center;
  gap: 5rem;
  background-color: var(--dark-blue);
  padding: 5rem;
  box-sizing: border-box;
  width: 100%;
}

.officerImage {
  border-radius: 7px;
}

.imageContainer {
  position: relative;
  width: 100%;
  height: auto;
  max-width: 600px;
  z-index: 1;
  aspect-ratio: 3/2;
}

.imageContainer::before {
  content: "";
  width: 98%;
  height: 98%;
  z-index: -1;
  position: absolute;
  top: 8%;
  left: 5%;
  background-color: var(--cyan);
  border-radius: 7px;
}

@media screen and (max-width: 1024px) {
  .container {
    grid-template-columns: 1fr;
    padding: 3rem;
  }

  .blurb {
    order: 1;
    max-width: 600px;
  }
}
