@font-face {
  font-family: "Libre Franklin";
  src: url("../../public/LibreFranklin.ttf") format("truetype");
}

html,
body {
  margin: 0px;
  max-width: 100vw;
  height: 100%;
  overflow-x: hidden;
  font-family: "Libre Franklin", "Segoe UI", "Roboto", "Oxygen", "Ubuntu",
    "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue", sans-serif;
}

button, input, select, label {
  font-family: "Libre Franklin", "Segoe UI", "Roboto", "Oxygen", "Ubuntu",
    "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue", sans-serif;
}

h1,
h2,
h3,
p {
  margin: 0px;
}

p {
  font-size: 1.2rem;
  font-weight: 300;
}

:root {
  --primary: #6099ea;
  --primary-dark: #303fa0;
  --primary-light: #93a1ff;
  --secondary: #ffe3a7;
  --secondary-dark: #ffbf4b;
  --secondary-light: #ffecc3;
  --success: #79cf87;
  --warning: #cf7979;
  --grey: #afbfc9;
}
