.main {
  padding: 2rem;
  margin-top: 4rem;
}

.popup {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 3rem;
  padding: 2rem;
  margin: 0 auto;
  max-width: 500px;
  border-radius: 10px;
  box-shadow: rgba(60, 64, 67, 0.3) 0px 1px 2px 0px, rgba(60, 64, 67, 0.15) 0px 2px 6px 2px;
}

.signup_form {
  display: flex;
  flex-direction: column;
  flex: 1;
  gap: 1rem;
  width: 100%;
}

.header {
  color: var(--primary-dark)
}

.input_box {
  background-color: #F5F5F5;
  border-color: transparent;
  border-radius: 4px;
  line-height: 2rem;
  font-size: 1rem;
}

.select {
  background-color: #F5F5F5;
  border-color: transparent;
  height: 2.5rem;
  border-radius: 4px;
  font-size: 1rem;
}

.button {
  background: var(--primary-light);
  color: black;
  text-decoration: none;
  padding: 0 2rem;
  border: none;
  border-radius: 10px;
  line-height: 42px;
  font-weight: 700;
}
