.activity_card {
  display: flex;
  flex-direction: column;
  border: 1px solid #838383;
  border-radius: 5px;
  padding: 1rem;
}

.activity_image {
  width: 100%;
  height: auto;
}

.activity_title {
  font-weight: 500;
  font-size: 2rem;
}

.activity_description {
  font-size: 1.25rem;
}
