.container {
  display: flex;
  flex-direction: column;
  gap: 2rem;
  padding: 5rem;
}
.cards {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  gap: 2rem;
}

.carousel {
  display: none;
}

@media screen and (max-width: 768px) {
  .container {
    padding: 2rem;
  }
  .cards {
    display: none;
  }

  .carousel {
    display: flex;
    overflow-x: auto;
    scroll-snap-type: x mandatory;
    gap: 1rem;
    -webkit-overflow-scrolling: touch;
    padding-bottom: 1rem;
  }

  .slide {
    position: relative;
    flex: 0 0 100%;
    scroll-snap-align: center;
    overflow: hidden;
    display: flex;
    flex-direction: column;
  }

  .carousel::-webkit-scrollbar {
    height: 8px;
  }
  
  .carousel::-webkit-scrollbar-track {
    background: #e4e4e4;
    border-radius: 10px;
  }
  
  .carousel::-webkit-scrollbar-thumb {
    background: var(--yellow);
    border-radius: 10px;
  }
}