.about {
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin: 1rem auto;
    width: 85%;
}
.header_banner {
    display: flex;
    background-color: var(--grey);
}

.header {
    flex: 1;
    padding: 1rem;
    font-size: 2rem;
    font-weight: 500;
}

.raccoon_image {
    align-self: flex-end;
    margin: 0 auto;
} 

.info {
    padding-left: 1rem;
    font-size: 1.125rem;
}

.info > p > a {
    font-weight: 700;
    text-decoration: none;
    color: var(--primary-dark);
}