.container {
  display: flex;
  flex-direction: column;
  gap: 5rem;
  margin: 0 auto;
  padding: 5rem;
}

.whoSection,
.whatSection {
  display: flex;
  justify-content: space-around;
}

.blurb {
  max-width: 40%;
}

.imageContainer {
  position: relative;
  width: 30%;
  max-width: 500px;
  height: auto;
  aspect-ratio: 1;
}

@media screen and (max-width: 1024px) {
  .whoSection,
  .whatSection {
    flex-direction: column;
    align-items: center;
    gap: 2rem;
  }

  .whatSection {
    flex-direction: column-reverse;
  }

  .imageContainer {
    width: 50%;
  }

  .blurb {
    max-width: 100%;
  }
}
