.container {
  display: flex;
  flex-direction: column;
  gap: 3rem;
  padding: 4rem;
  background-color: #4371c2;
}

.header {
  display: flex;
  flex-direction: column;
  gap: 2rem;
}

.title {
  color: var(--yellow);
}

.blurb {
  color: var(--white);
  max-width: 700px;
}

.imageContainer {
    display: flex;
    justify-content: center;
    gap: 2rem;
    border-radius: 20px;
}

.image {
    display: flex;
    flex-direction: column;
    gap: 1rem;
    width: 100%;
    height: auto;
    max-width: 450px;
    border-radius: 20px;
}

.image img {
    position: relative !important;
    object-fit: cover;
    border-radius: inherit;
}

@media screen and (max-width: 768px) {
    .imageContainer {
        flex-direction: column;
    }
}