.activity_slot {
  display: flex;
  flex-direction: row;
  gap: 1rem;
  min-width: 220px;
}

.timeline {
  display: flex;
  flex-direction: column;
}

.circle {
  width: 70px;
  height: 70px;
  border-radius: 50%;
  font-size: 0.8rem;
  color: black;
  line-height: 70px;
  text-align: center;
  background: #d9d9d9;
}

.active {
  background: var(--primary-light);
}

.line {
  position: relative;
  left: 50%;
  height: 20px;
  border-left: 1px solid #d9d9d9;
}

.activity_title {
  font-size: 1rem;
  font-weight: 500;
}

.activity_details {
  margin-top: 0.5rem;
}

.activity_time {
  font-size: 0.8rem;
  color: #8c8c8c;
}

.tag {
  width: 88%;
  padding: 0.1rem;
  font-size: 0.8rem;
  background-color: var(--secondary-light);
  border-radius: 4px;
}