.navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 10vh;
  padding: 0rem 2rem;
}

.logo {
  width: 60px;
  height: auto;
}

.profileContainer {
  display: flex;
  align-items: center;
  gap: 1rem;
}

.profile {
  width: 40px;
  height: auto;
}

.button {
  background: var(--secondary);
  color: var(--primary-dark);
  text-decoration: none;
  padding: 0 1rem;
  border: none;
  border-radius: 10px;
  line-height: 42px;
}
