.container {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.blurb {
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
  max-width: 60%;
  gap: 2rem;
}

.message {
  color: #6a6a6a;
  max-width: 60vw;
  white-space: pre-line;
}

.buttonLink {
  padding: 9px 32px;
  border-radius: 30px;
  background-color: var(--button-bg);
  border-color: var(--button-border);
  font-weight: 600;
  color: var(--black);
  text-decoration: none;
  border-style: solid;
}
