.container {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.blurb {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    max-width: 60%;
    gap: 2rem;
}

.message {
    color: #6A6A6A;
    max-width: 60vw;
    white-space: pre-line;
}

.button {
    padding: 9px 32px;
    border-radius: 30px;
    font-weight: 600;
    background-color: transparent;
  }