.event_card {
  display: flex;
  flex-direction: column;
  gap: 1rem;
  box-shadow: 0px 4px 2px 0px rgba(0, 0, 0, 0.14);
  border: 1px solid #393939;
  border-radius: 5px;
  padding: 1rem;
  max-width: 400px;
}
.event_image {
  width: 100%;
  height: auto;
}

.event_title {
  color: var(--black);
  font-weight: 500;
  font-size: 1.5rem;
}

.event_date {
  color: var(--blue);
}