.event_card {
  display: flex;
  flex-direction: column;
  gap: 1rem;
  box-shadow: rgba(60, 64, 67, 0.3) 0px 1px 2px 0px, rgba(60, 64, 67, 0.15) 0px 2px 6px 2px;
  border-radius: 5px;
  padding: 1rem;
  max-width: 400px;
}

.event_title {
  color: var(--black);
  font-weight: 500;
}

.event_img img {
  position: relative !important;
  aspect-ratio: 3/2;
  object-fit: cover;
  border-radius: 7px;
}

.event_date {
  color: var(--blue);
}