.footer {
    padding: 1rem 1rem;
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: var(--primary-light);
    flex-direction: column;
}

.iconDiv {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.icon {
    padding: 0.5rem;
    width: 60px;
    height: auto;
}